:host, :root{
  --background-color-dark: var(--honey-button-background, #E8CD9A);
  --main-background: var(--honey-background, #FADCB1);
  --primary: var(--honey-primary, #00008B);
}
body{
  background-color: var(--main-background);
  color: var(--primary);
}
